<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <meta charset="utf-8" />
    <meta name="ROBOTS" content="NOODP" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title><%= title %></title>
    <%= stylesheet_link_tag :application, media: "all" %>
    <%= csrf_meta_tags %>
  </head>
  <body class="<%%= body_class %>">
    <%= render "shared/flashes" -%>
    <%= yield %>
    <%= render "shared/javascript" %>
    <%= render "shared/styles" %>
  </body>
</html>
